@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
  height: 100dvh;
  text-align: center;
  color: white;
  background-color: #000;
}

button{
  padding: 1rem;
  font-size: large;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:active{
  background-color: #141414;
}

#app{
  position: relative;
  display: grid;
  gap: 2rem;
}

#title{
  font-size: 2.5rem;
}

#timer{
  display: grid;
  gap: 1rem;
}

#timer button {
  width: 110px;
}

#timer #reset{
  margin-left: 1rem;
}

#time-left{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  font-size: 17rem;
  font-weight: 600;
  border-radius: 25px;
  background-color: #1a1a1a;
}

#length-control{
  display: flex;
  justify-content: space-around;
}

.timesetter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: x-large;
}